
.grid_container{
  display: grid;
  grid-template-columns:  0% 100% 0%;
  background-color: white;
  font-size: 15px;
  margin-top: 0px;
  
}
.grid_container>div{
  margin:2px;   
}

.header{
  grid-column: 1 / 4;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #191970;
}
.resturant_heroImage {
  position: relative; /* Add position relative to enable absolute positioning for the text */
  grid-column: 1 / 4;
  font-size: 20px;
  background-image: url("/static/templates/components/resturant_heroImage.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* You can adjust other properties as needed */
  height: 80vh; /* Set a minimum height for the body */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}



.left_screen{
  grid-column: 1 / 2;
  font-size: 15px;
  background-color: rgb(201, 100, 100);
}
.body_screen{
  grid-column: 2 / 3;
  font-size: 15px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.right_screen{
  grid-column: 3 / 4;
  font-size: 15px;
  background-color: rgb(180, 96, 96);
}
.footer{
  grid-column: 1 / 4;
  font-size: 15px;
  background-color: white;
}

/* Profile Page */
.profile_grid_container{
  display: grid;
  grid-template-columns:  25% 35% 35% 5%;
  background-color: white;
  font-size: 15px;
  margin-top: 0px;
  
}
.profile_header{
  grid-column: 1 / 5;
  font-size: 20px;
  color: #191970;
}
.button-container {
  grid-column: 1 / 5;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
  justify-content: space-between; /* Distribute buttons evenly along the row */
  gap: 10px; /* Add some space between buttons */
}
.profile_left_screen{
  grid-column: 1 / 2;
  font-size: 15px;
  border-right: 2px solid black ;
}
.profile_body_content1{
  grid-column: 2 / 3;
  font-size: 15px;
  background-color: white;
  margin-left: 20px;
}
.profile_body_content2{
  grid-column: 3 / 4;
  font-size: 15px;
  background-color: white;
}
.profile_right_screen{
  grid-column: 4 / 5;
  font-size: 15px;

}
.profile_body_content12{
  grid-column: 2 / 4;
  font-size: 15px;
  margin-left: 20px;
}
.profile_food{
  grid-column: 2 / 4;
  font-size: 15px;
  background-color: white;
  text-align: center;
}

.logo_image {
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  border-radius: 50%; /* Make it circular by setting the border-radius to 50% */
  overflow: hidden; /* Hide any image overflow beyond the circular boundary */
}

.form-container {
  display: flex; /* Use flexbox to arrange buttons in a row */
  justify-content: center; /* Center-align buttons horizontally */
}

/* Style for the individual forms */
.form {
  margin-right: 10px; /* Add spacing between forms (adjust as needed) */
}

/* Style for the submit buttons */
.submit-button {
  padding: 10px 10px; /* Adjust padding as needed */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Remove button borders */
  cursor: pointer; /* Change cursor on hover */
  border: none;
}
.submit-button_delete {
  padding: 10px 10px; /* Adjust padding as needed */
  background-color: #ff6666; /* Button background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Remove button borders */
  border: none;
  cursor: pointer; /* Change cursor on hover */
}
/* Profile Page END */
.navbar {
  position:static;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

    /* Reset some default styles */
    .profile_left_right_buttons {
      text-decoration: none;
      color:#FF2C2C;
      font-size: 15px;
      font-weight: bold;
      border: none;
      display: block;
      padding: 5px 5px;
      margin: 10px;
      width: max-content;
      background: transparent;
      
    }
    .button-list{
      color:#ff6666;
      margin-left: 30px;
      position: fixed;
    }