<html>
<head>
    <!-- <link rel="stylesheet" href="/static/styleSheet/style.css"> -->
    <link rel="stylesheet" href="/static/styleSheet/mobile_stylesheet.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="/static/styleSheet/desktop_stylesheet.css" media="screen and (min-width: 800px)">  
    <link rel="stylesheet" href="/static/styleSheet/style.css">

</head>
<body>
<div class="nav_grid_container">
    <div class="nav_grid_container1">Food Order System
    </div>
    <div class="nav_grid_container2">
        <ul>
            <li ><a class="{% if request.path == '/' %}active{% endif %}" href="/">Home</a></li>
            <li><a class="{% if request.path == '/profile' %}active{% endif %}" href="/profile">Profile</a></li>
            <li><a class="{% if request.path == '/login' %}active{% endif %}" href="/login">Login</a></li>
            <li><a class="{% if request.path == '/signup' %}active{% endif %}" href="/signup">Signup</a></li>
            <li><a class="{% if request.path == '/logout' %}active{% endif %}" href="/logout">Logout</a></li>
            
        </ul>

    </div>
</div>
</body>
</html>