<!doctype html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/styleSheet/style.css"> -->
    <link rel="stylesheet" href="/static/styleSheet/mobile_stylesheet.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="/static/styleSheet/desktop_stylesheet.css" media="screen and (min-width: 800px)">  
    <link rel="stylesheet" href="/static/styleSheet/style.css">

<style>


 

</style>
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="#home" class="logo"><img src="/static/templates/components/LogoFIxed.png" alt="Khadim" height="50px"></a>

   
   
    <a class="{% if request.path == '/' %}active{% endif %}" href="/">Home</a>
      {% if user.is_authenticated %}
    <a class="{% if request.path == '/profile' %}active{% endif %}" href="/profile">Profile</a>

    <a class="{% if request.path == '/logout' %}active{% endif %}" href="/logout">Logout</a>
      {% else %}
    <a class="{% if request.path == '/login' %}active{% endif %}" href="/login">Login</a>
    <a class="{% if request.path == '/signup' %}active{% endif %}" href="/signup">Signup</a>
      {% endif %}
   


    

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                 <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
  </a>
  </div>




<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  
  if (x.className === "topnav") {
    x.className = "responsive";
    console.log("wORKING");
  } else {
    x.className = "topnav";
  }
}
function changeClassName() {
    const element = document.getElementById('myTopnav'); // Replace with your element's ID or use other selectors
    if (window.matchMedia('(min-width: 720px)').matches) {
        element.className = 'topnav'; // Change to your desired class name
    } 
}

// Initial call to set the class name based on the initial screen size
changeClassName();

// Add an event listener to check for screen size changes
window.addEventListener('resize', changeClassName);
</script>

</body>
</html>

