<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styleSheet/mobile_stylesheet.css" media="screen and (max-width: 768px)">
  <link rel="stylesheet" href="/static/styleSheet/desktop_stylesheet.css" media="screen and (min-width: 800px)">  
  <link rel="stylesheet" href="/static/styleSheet/style.css">
</head>

<body>
  <!-- Navbar -->
  {% include 'components/navbar_catelog.html' %}
  <br>

  <!-- Restaurant Name -->
  <h2>{{ resturantName }}</h2>
  
  <!-- Shopping Cart Button -->
  <a href="/check_order_status"></a>
  <div id="fab" class="fab">
    <button id="fab-button">0</button>
    <div class="popup" id="popup">
      <span id="close-button" class="close">x</span>
      <div class="cart">
        <h2>Shopping cart</h2>
        <ul class="cart-items">
          <!-- Cart items will be dynamically added here -->
        </ul>
        <p>Total: $0</p>
        <input type="text" placeholder="Enter Your Phone Number" id="customer_phone_number" required>
        <input type="hidden" id="key" value="{{ key }}">
        <input type="hidden" id="table_no" value="{{ table_no }}">
        <button class="submit-order" onclick="return confirmDelete()">Submit order</button>
      </div>
    </div>
  </div>
  
  <!-- Content Container -->
  <div class="content_container">
    {% for category, food_items in food_items_by_category.items %}
      <div class="food-category" id="category1">
        <h2 class="category_heading">{{ category }}</h2>
        <div class="card-list">
          {% for temp in food_items %}
            {% include 'components/catalog_food_card.html' %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  
  <!-- Banner Section -->
  <div class="banner">
    This is your banner Add.
  </div>
  
  <!-- Scripts -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const fabButton = document.getElementById("fab-button");
      const popup = document.getElementById("popup");
      const closeButton = document.getElementById("close-button");
      let isPopupOpen = false;

      fabButton.addEventListener("click", function () {
        if (isPopupOpen) {
          popup.style.display = "none";
          fabButton.innerHTML = "0"; // Change the button symbol to "+"
          updateCartDOM();
        } else {
          popup.style.display = "block";
          fabButton.innerHTML = "x"; // Change the button symbol to "x"
        }
        isPopupOpen = !isPopupOpen; // Toggle the state of the popup
      });

      closeButton.addEventListener("click", function () {
        popup.style.display = "none";
        fabButton.innerHTML = "0"; // Reset the button symbol to "+"
        isPopupOpen = false;
      });
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      // Enable horizontal scrolling for all card lists
      $('.card-list').each(function () {
        $(this).css('overflow-x', 'auto');
      });
    });
  </script>

  <script>
    // Set up variables
    const cartItems = [];
    let phone_number;
    let total = 0;

    // Add event listener to all "Add to cart" buttons
    const addToCartButtons = document.querySelectorAll('.add-to-cart');
    addToCartButtons.forEach(button => {
      button.addEventListener('click', () => {
        // Get food item name, price, and quantity from DOM
        const foodItemName = button.parentElement.querySelector('h3').textContent;
        const foodItemPrice = parseFloat(button.parentElement.querySelector('.price').textContent.replace('$', ''));
        const quantity = parseInt(button.parentElement.querySelector('input[type="number"]').value);

        // Add item to cart
        cartItems.push({ name: foodItemName, price: foodItemPrice, quantity, sub_total: foodItemPrice * quantity });

        // Update cart DOM
        updateCartDOM();
      });
    });

    // Add event listener to "Submit order" button
    const submitOrderButton = document.querySelector('.submit-order');
    submitOrderButton.addEventListener('click', () => {
      console.log(cartItems);

      // Get the CSRF token from the cookie
      phone_number = document.getElementById('customer_phone_number').value;
      const key = document.getElementById("key").value;
      const table_no = document.getElementById("table_no").value;

      const csrftoken = getCookie('csrftoken');
      const data = {
        'phone': phone_number,
        'owner': key,
        'table_no': table_no,
        'total': total,
        'cartItems': cartItems
      };

      // Send cartItems array to server to process order
      fetch('/submit_order', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': csrftoken,
        },
        body: 'data=' + encodeURIComponent(JSON.stringify(data)),
      })
        .then(response => response.json())
        .then(data => {
          // Check if the response contains a redirect URL
          if (data.redirect_url) {
            // Redirect to the new page
            window.location.href = data.redirect_url;
          }
        })
        .catch(error => {
          // Handle any errors that may occur during the fetch request
          console.error('Error:', error);
        });

      // Check if Geolocation API is available
      if ('geolocation' in navigator) {
        // Request user's permission to access location
        navigator.geolocation.getCurrentPosition(
          function (position) {
            // Callback function on successful retrieval of location
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            // Use the latitude and longitude as needed
            console.log('Latitude: ' + latitude);
            console.log('Longitude: ' + longitude);
          },
          function (error) {
            // Callback function on error
            console.log('Error occurred. Error code: ' + error.code + '. Error message: ' + error.message);
          }
        );
      } else {
        // Geolocation API is not supported
        console.log('Geolocation is not supported by this browser.');
      }
    });

    // Function to retrieve a specific cookie value
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Function to update cart DOM
    function updateCartDOM() {
      // Get cart DOM elements
      const cartItemsList = document.querySelector('.cart-items');
      const totalDOM = document.querySelector('.cart p');
      const fabButton = document.getElementById("fab-button");

      // Clear cart items list
      cartItemsList.innerHTML = '';

      // Loop through cart items and add to DOM
      cartItems.forEach(item => {
        const itemDOM = document.createElement('li');
        itemDOM.textContent = `${item.name} x ${item.quantity} - $${item.price * item.quantity}`;
        cartItemsList.appendChild(itemDOM);
      });

      // Calculate and update total
      total = cartItems.reduce((acc, item) => acc + item.price * item.quantity, 0);
      fabButton.innerHTML = total;

      var width = document.getElementById("fab").offsetWidth;
      document.getElementById("fab").style.height = width + "px";
      totalDOM.textContent = `Total: $${total}`;
    }

  </script>

  <script>
    function confirmDelete() {
      return confirm("Are you sure you want to order the item?");
    }
  </script>

</body>

</html>
