<html>
   <head>
      <title>Home</title>

   </head>
   <body>
      <div class="navbar">
         {% include 'components/navbar.html' %}
     </div>
      <div class="grid_container">
         <div class="header">
            <h3 class="home_header">Welcome</h3>
         </div>
         <div class="resturant_heroImage">
            <p>Taste the future of service</p>
            <h2>KHADIM</h2>
          
         </div>
         <!-- <div class="left_screen">
            body left
         </div> -->
         <div class="body_content">
            <h3>How to use?</h3>
         </div>
         <!-- <div class="right_screen">
            body right
         </div> -->
         <div class="footer">
            footer
         </div>
      </div>
   </body>
</html>