<html>
   <head>
      <title>Home</title>

   </head>
   <body>
      <div class="navbar">
         {% include 'components/navbar.html' %}
     </div>
      <div class="grid_container">
         <div class="header">
            Header
         </div>
         <div class="left_screen">
            body left
         </div>
         <div class="body_content">
            body center
         </div>
         <div class="right_screen">
            body right
         </div>
         <div class="footer">
            footer
         </div>
      </div>
   </body>
</html>