<html>
   <head>
      <title>Home</title>

   </head>
   <body>
      <div class="navbar">
         {% include 'components/navbar.html' %}
     </div>
      <div class="profile_grid_container">

         <div class="profile_left_screen">
            <a href="/edit_profile">Update</a><br>
            <a href="/insert_food">Insert Food</a><br>
            <a href="/update_password">Update Password</a>
            <a href="/order_list">Order List</a>
         </div>
         <div class="profile_body_content1">
   
               <a href=/{{profile_data.logo_image}}><img class="logo_image" src=/{{profile_data.logo_image}} alt="Logo"></a>
  
            
         </div>
         <div class="profile_body_content2">
            <p>Address: {{profile_data.address}}</p>
            <p>phone: {{profile_data.phone}}</p>
            <p>Email: {{profile_data.email}}</p>
         </div>

         <div class="profile_right_screen">
            {% for temp in url %}
               <a href={{temp.url}}>{{temp.name}}</a><br>
            {% endfor %}
         </div>
         <div class="profile_food">
            <h2>{{profile_data.resturant_name}}</h2>

         </div>
      </div>
   </body>
</html>




<br>




<br>

<br>
<h4>Ordeer Request List</h4>
{% for temp2 in order %}
    {% for temp3 in temp2.food_list %}
        <span>--></span>{{temp3.name}}
        {{temp3.price}}
    {% endfor %}
    <form action="/accept_order" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value={{temp2.id}}>
        <button type="submit">Accept</button>
    </form>
    <br>
{% endfor %}
<h4>Ordeer Accepted List</h4>
{% for temp2 in order_accepted %}
    {% for temp3 in temp2.food_list %}
        <span>--></span>{{temp3.name}}
        {{temp3.price}}
{% endfor %}
<br>

{% endfor %}


    