<html>
   <head>
      <title>Home</title>

   </head>
   <body>
      <div class="navbar">
         {% include 'components/navbar.html' %}
     </div>
      <div class="profile_grid_container">

         <div class="profile_food">
            <h2>{{profile_data.resturant_name}}</h2>

         </div>
         <div class="profile_left_screen">
            <div >
               <ul class="button-list">
                  <li><a href="/edit_profile" class="profile_left_right_buttons">Update</a></li>
                  <li><a href="/insert_food" class="profile_left_right_buttons">Insert Food</a></li>
                  <li><a href="/update_password" class="profile_left_right_buttons">Update Password</a></li>
                  <li><a href="/order_list" class="profile_left_right_buttons">Order List</a></li>
               </ul>
              
            </div>

         </div>
         <div class="profile_body_content1">
   
               <a href=/{{profile_data.logo_image}}><img class="logo_image" src=/{{profile_data.logo_image}} alt="Logo"></a>
  
            
         </div>
         <div class="profile_body_content2">
            <p>Address: {{profile_data.address}}</p>
            <p>phone: {{profile_data.phone}}</p>
            <p>Email: {{profile_data.email}}</p>
         </div>

         <div class="profile_right_screen">

         </div>

         <h4>Ordeer Request List</h4>
         {% now "Y-m-d" as current_date %}
         
         

         <div class="button-container">

            
            {% for temp2 in order %}

            {% if temp2.created_at|date:"Y-m-d" == current_date or temp2.created_at|date:"Y-m-d" == yesterday|date:"Y-m-d" %}

               <div class="order_card" id="popup">
                  <span id="close-button" class="close">x</span>
                  <div class="cart">
                    
                    <ul class="cart-items">
                     {{current_date}}
                     {% for temp3 in temp2.food_list %}
                     
                     <li>{{temp3.name}} ({{ temp3.price }}) x {{ temp3.quantity }} = {{temp3.sub_total}}</li>
                   
                     {% endfor %}
                    </ul>
                    <p>Total: ${{temp2.total}}</p>
                    <div class="button-container">
                    <form action="/accept_order" method="post">
                     {% csrf_token %}
                     <input type="hidden" name="order_id" value={{temp2.id}}>
                     <button type="submit" class="submit-button">Accept</button>
                     </form>
                     <form action="/reject_order" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value={{temp2.id}}>
                        <button type="submit" class="submit-button_delete">Reject</button>
                     </form>
                  </div>
                  </div>
              </div>
            {% endif %}
            
               
            {% endfor %}
        </div>
        <h4>Ordeer Accepted List</h4>
        <div class="button-container">

            
         {% for temp2 in order_accepted %}

         {% if temp2.created_at|date:"Y-m-d" == current_date %}

            <div class="order_card" id="popup">
               <span id="close-button" class="close">x</span>
               <div class="cart">
                 
                 <ul class="cart-items">
                  {{current_date}}
                  {% for temp3 in temp2.food_list %}
                  
                  <li>{{ temp3.price }} x {{ temp3.quantity }} = {{temp3.sub_total}}</li>
                
                  {% endfor %}
                 </ul>
                 <p>Total: ${{temp2.total}}</p>


               </div>
           </div>
         {% endif %}
         
            
         {% endfor %}
     </div>
      </div>


   </body>
</html>









    