<html>
   <head>
      <title>Home</title>

   </head>
   <body>
      <div class="navbar">
         {% include 'components/navbar.html' %}
     </div>
      <div class="profile_grid_container">

         <div class="profile_food">
            <h2>{{profile_data.resturant_name}}</h2>

         </div>
         <div class="profile_left_screen">
            <div >
               <ul class="button-list">
                  <li><a href="/edit_profile" class="profile_left_right_buttons">Update</a></li>
                  <li><a href="/insert_food" class="profile_left_right_buttons">Insert Food</a></li>
                  <li><a href="/update_password" class="profile_left_right_buttons">Update Password</a></li>
                  <li><a href="/order_list" class="profile_left_right_buttons">Order List</a></li>
               </ul>
              
            </div>

         </div>
         <div class="profile_body_content1">
   
               <a href=/{{profile_data.logo_image}}><img class="logo_image" src=/{{profile_data.logo_image}} alt="Logo"></a>
  
            
         </div>
         <div class="profile_body_content2">
            <p>Address: {{profile_data.address}}</p>
            <p>phone: {{profile_data.phone}}</p>
            <p>Email: {{profile_data.email}}</p>
         </div>

         <div class="profile_right_screen">

         </div>
        
         <h3>Table Urls</h3>
         <div class="button-container">

           
            {% for temp in url %}
            <button class="left_bar" onclick="copyToClipboard('{{ temp.url }}')">{{ temp.name }}</button>

             {% endfor %}
        </div>
      </div>
      <h4>Catalog</h4><hr>
<br>
<div class="content_container">
   {% for category, food_items in food_items_by_category.items %}
   
   <div class="food-category" id="category1">
     <h2 class="category_heading">{{ category }}</h2>
   <div class="card-list">
   
     {% for temp in food_items %}
     <!-- <div class="item">
         <a href=/{{temp.food_image}}><img src=/{{temp.food_image}} alt="Delicious food"></a>
         <h3 class="food-title">{{temp.food_title}}</h3>
         <p><span>Price: </span><span class="price">${{temp.food_price}}</span></p>
         <label for="quantity">Quantity:</label>
         <input type="number" id="quantity" value="1">
         <input type="hidden" name="owner" value={{key}}>
         <button class="add-to-cart">Add to cart</button>
       </div> -->
       {% include 'components/profile_food_card.html' %}
   
     
     {% endfor %}
     </div>
   {% endfor %}
     </div>
   </div>
<script>
    function confirmDelete(food_title) {
      return confirm("Are you sure you want to delete "+food_title+" item?");
    }
    function copyToClipboard(partialURL) {
            // Get the current hostname and port
            var host = window.location.protocol + "//" + window.location.host;

            // Combine the host with the partial URL to create the full URL
            var fullURL = host + partialURL;

            var tempInput = document.createElement("input");
            tempInput.value = fullURL;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            alert("Copied: " + fullURL);
        }
</script>

   </body>
</html>





    