<!DOCTYPE html>
<html>
<head>
    <title>Password Update</title>
    <link rel="stylesheet" href="/static/styleSheet/form_designe.css">
</head>
<body>
    <h2>Password Update</h2>
    
    <form method="post">
        {% csrf_token %}
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>
        
        <input type="submit" value="Update Password">
    </form>
</body>
</html>
